<!-- <h3>Sales Data</h3>
<table>
  <tr *ngFor= "let rec of csvHead; let first= first;"
        [ngClass]="{'title': first}" > 
    <td> {{rec.sdate}} </td>
    <td> {{rec.region}} </td>
    <td> {{rec.rep}} </td>
    <td> {{rec.item}} </td>
    <td> {{rec.unit}} </td>
    <td> {{rec.cost}} </td>
    <td> {{rec.total}} </td>
  </tr>
  <tr *ngFor= "let rec of csvData;" > 
        <td> {{rec.sdate}} </td>
        <td> {{rec.region}} </td>
        <td> {{rec.rep}} </td>
        <td> {{rec.item}} </td>
        <td [ngStyle]="{textAlign: 'right'}">{{rec.unit}} </td>
        <td [ngStyle]="{textAlign: 'right'}"> {{rec.cost}} </td>
        <td [ngStyle]="{textAlign: 'right'}"> {{rec.total}} </td>
  </tr>
</table> -->
